<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button    defaultHref="home" [text]=""></ion-back-button>
    </ion-buttons>
    <ion-title>Camas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-button (click)="onSend()">Agregar </ion-button>    
    <ion-button (click)="onShow()">Ver Lista </ion-button>    
  </ion-toolbar>
</ion-header>

<ion-content>
<div *ngIf=" showList == true">
  <ion-button (click)="offShow()">Cerrar Lista </ion-button>    
  <div *ngFor="let element of beds ; let i=index" >
    <ion-card >
      <ion-row>
          <ion-col>
            Cuarto:{{beds[i].roomId}}
          </ion-col>
          <ion-col>
            Cama:{{beds[i].bedId}}
          </ion-col>
      </ion-row>    
      <ion-row>
          <ion-col>
            Llamador:{{beds[i].callerId}}
          </ion-col>
          <ion-col>
            Piso:{{beds[i].floorId}}
          </ion-col>      
       </ion-row>
    </ion-card>
  </div>  
</div> 

</ion-content>
