<ion-header>
  <ion-toolbar>
    
    <ion-item>
    <ion-title>Enfermera:{{nurseName}}</ion-title>
  </ion-item>
  <ion-item>
    <ion-buttons slot="start">
      <div *ngIf="actionFinished==true">
      <ion-back-button  defaultHref="" [text]=""></ion-back-button>        
      </div>
    </ion-buttons>
    <ion-title>Cama:{{bedId}}</ion-title>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
   <div *ngIf="inRoom===false">   
   <ion-button (click)="goQR()">QR </ion-button> 
   <ion-button (click)="Quit()">Cancelar </ion-button> 
   </div>
   <div *ngIf="inRoom===true">
<!--******************************************************Now in room options*****************************************************************************-->
<ion-item>
   <!--  <ion-button (click)="goChat()">Chat </ion-button> -->
   <ion-button (click)="Quit()">Cancelar </ion-button> 
   <ion-button (click)="goEnd()">Listo </ion-button> 
   <ion-button (click)="openNotesTable()">Notas</ion-button>
   <ion-button (click)="openMedicalTable()" >Mensajes</ion-button>
</ion-item>     
<!--******************************************Asking doctor **********************************************************************************************-->  
<ion-item>
<ion-label>Lista de Médicos:</ion-label>
 </ion-item>

 <div *ngIf="showMedical===true">
  <div *ngFor="let item of MDT; let i = index">
    
      <ion-card>
        <ion-item >
        <ion-label>{{item.userID}}:{{item.username}}</ion-label>           
        <ion-icon name="arrow-down" (click)= "openMsg(i)" end></ion-icon>
        </ion-item>

        <div *ngIf="msg[i]===1">
        <ion-item >
          <ion-label position="stacked">Mensaje:</ion-label>
          <ion-input #A (ionChange)="updatingText(i,A.value)" type="text"></ion-input>

        </ion-item>

         <ion-item >
         <ion-icon name="mic" (click)= "recordingAudioStart(i)" begin></ion-icon>
         <div *ngIf="recordingAudio==true">
          <ion-icon name="log-out" (click)= "recordingAudioStop(i)" begin></ion-icon>
         </div>
        </ion-item>
         <ion-item-group>
          <ion-item-divider>
            <ion-label>Web Paths</ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let webPath of webPaths">
            <audio controls>
              <source src="{{webPath}}" type="{{recording?.mimeType}}">
              Your browser does not support the audio element.
            </audio>
          </ion-item>
        </ion-item-group>
    <!--
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Data Urls (Verify on)</ion-label>
            <ion-input value="https://base64.guru/converter/decode/audio" readonly></ion-input>
          </ion-item-divider>
          <ion-item *ngFor="let dataUrl of dataUrls">
            <ion-label position="floating">Data Url</ion-label>
            <ion-textarea value="{{dataUrl}}"></ion-textarea>
          </ion-item>
        </ion-item-group>       --> 

        <ion-item-group>
         <ion-icon name="arrow-up" (click)= "closeMsg(i)" middle></ion-icon>
         <ion-icon name="arrow-forward"  (click)= "sendMsg(i)" end></ion-icon>
        
        </ion-item-group>
        <!--- if there is a response from doctor show-->
            <div *ngIf="msgRx[i]==1">
            <ion-item >
              <ion-label position="stacked">Respuesta:</ion-label>
              <p>{{item.username}}:{{RxText}}</p>
              <ion-icon name="play" end></ion-icon> <!--(click)= "sendMsg(i)" -->
            </ion-item>
            </div>
        </div>
      </ion-card>  
          
    </div>
  </div>


</div>  
</ion-item>  
       
</ion-card>


<!--******************************************Showing notes **********************************************************************************************-->
  <div *ngIf="showNotes==true">
    <ion-card class="PacientDataCard">
    <!--Informacion del paciente-->
      <ion-item>Apellido: {{pacientLocal.lastName}}</ion-item>
      <ion-item>Nombre: {{pacientLocal.firstName}}</ion-item>
      <ion-item>Id Paciente: {{pacientLocal.id}}</ion-item>
      

    </ion-card>

    
    <!--Notas del paciente : limite 2-->
    <div *ngFor="let Note of notes; let i=index">
      <ion-card>
        <!--Informacion del paciente-->
          <ion-item>ID nota: {{notes[i].noteId}}</ion-item>
          <ion-item>Nota:{{notes[i].note}}</ion-item>
        <!--  <ion-item>Estado:{{notes[i].state}}</ion-item>        -->
        
       </ion-card>

    </div>
  </div>


</ion-content>
