<ion-header>
  <ion-toolbar>
    <ion-title>Doctor:</ion-title>
    <ion-title>{{doctorName}}</ion-title>
      <!-- Back button with a default href -->
    <ion-buttons slot="start">
      <ion-button (click)="logout()" >Logout</ion-button>        <!--href="home" -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card >
      <ion-icon name="bed" slot="start"></ion-icon>
        <ion-label>Cambiar notas de Pacientes </ion-label>
      <br>
      <ion-item>
        <ion-button (click)="onClickPacientNote(1)"> Ir </ion-button>        
      </ion-item>
    </ion-card>
    
    <ion-card >      
        <ion-label>Leer Mensajes </ion-label>
      <br>
      <ion-item>
        <ion-button (click)="onClickMessages()"> Aceptar </ion-button>        
      </ion-item>
    </ion-card>

    <ion-item>
    <ion-card >        
      <div *ngIf="newMessage===false">
        <ion-button color="primary">msg</ion-button>
      </div>
      <div *ngIf="newMessage===true">
        <ion-button color="secondary">msg</ion-button>
      </div>
    </ion-card>    
  </ion-item>

  <ion-card >    
    <div *ngFor="let element of pacientTable; let i=index">
      <ion-item>
      <p>{{element | json}}</p>
      </ion-item>
    </div>
  </ion-card >    
</ion-content>
