<ion-header>
  <ion-toolbar>
        <ion-title>{{doctorName}}</ion-title>
      <!-- Back button with a default href -->
    <ion-buttons slot="start">
      <ion-button (click)="logout()" >Logout</ion-button>        <!--href="home" -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card >
      <ion-icon name="bed" slot="start"></ion-icon>
        <ion-label>Cambiar notas de Pacientes </ion-label>
      <br>
      <ion-select interface="action-sheet" #C (ionChange)="upgradingPacientNumber(C.value)" type="number" required>
        <div *ngFor="let element of pacientTable; let i=index">           
         
         <ion-select-option  value="{{pacientTable[i].pacientId}}">{{pacientTable[i].pacientId}}</ion-select-option>                   
        </div>
      </ion-select>

      <ion-item>
        <ion-button (click)="onClickPacientNote(pacientNmber)"> Ir </ion-button>        
      </ion-item>
    </ion-card>
    
    <ion-card >      
        <ion-label>Leer Mensajes </ion-label>
      <br>
      <ion-item>
        <ion-button (click)="onClickMessages()"> Aceptar </ion-button>        
      </ion-item>
    </ion-card>

  <ion-card >    
    <div *ngFor="let element of messages; let i=index">
      
        <ion-card ion-color="terciary" >      
          <ion-item>
          <ion-label>Mensaje de : {{element._username}}</ion-label>
          </ion-item><ion-item>
          <ion-label> cama:{{element._bedId}}</ion-label>
          </ion-item>          
          <div *ngIf="element._type === 7">
              <ion-item>
              <ion-label>{{element._content}}</ion-label>                        
              </ion-item>
          </div>      
          <ion-item>
          <ion-label position="stacked">Respuesta:</ion-label>
              <ion-input type="text" #A (ionChange)="onChangeText(A.value,i)"  ></ion-input>
              <ion-item>
              <ion-button><ion-icon name="mic" ></ion-icon></ion-button>
              <ion-button (click)="sendResponseText(i)" ><ion-icon name="arrow-forward" end></ion-icon></ion-button> <!--(click)= "sendMsg(i)" -->
              </ion-item>
          </ion-item>      
           <!--(click)= "sendMsg(i)" -->
        </ion-card>
      
    </div>
  </ion-card >    
</ion-content>
