<ion-header>
  <ion-toolbar>
    <ion-title>Pacientes: {{doctorName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button    defaultHref="/doctor-main/" text="Volver"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div *ngIf="showAsk==true">
    <ion-item>      
     <!--<div [formGroup]="numberId"> -->
        <ion-label>Numero Paciente: {{patientNumber2}}</ion-label>
    <!--<ion-input  type="number" formControlName="pacientNumber" placeholder="{{pacientNumber2}}" required></ion-input>
     </div>-->
    </ion-item>
   
   <ion-button  (click)="onClick()" >Consultar</ion-button>
   <ion-button  (click)="onClickNotes()" >Notas</ion-button>
  
  </div>

<div *ngIf="showNotes==true">
    <ion-card class="PacientDataCard">
    <!--Informacion del paciente-->
      <ion-item>Apellido: {{patientLocal.lastName}}</ion-item>
      <ion-item>Nombre: {{patientLocal.firstName}}</ion-item>
      <ion-item>Id Paciente: {{patientLocal.id}}</ion-item>
      

    </ion-card>

    <ion-button  (click)="onClickAdd()" >Agregar Nota</ion-button>
    <!--Notas del paciente : limite 2-->
    <div *ngFor="let Note of notes; let i=index">
      <ion-card>
        <!--Informacion del paciente-->
          <ion-item>ID nota: {{Note.notesId}}</ion-item>
          <ion-item>Nota:{{Note.note}}</ion-item>
        <!--  <ion-item>Estado:{{notes[i].state}}</ion-item>        -->
        <ion-button (click)="deleteNote(i)"><ion-icon name="trash" slot="icon-only"></ion-icon></ion-button>
       </ion-card>

    </div>
  </div>
  <div *ngIf="showNotesForm==true">

    <div [formGroup]="noteForm"> 
      <ion-label>Nota:</ion-label>
      <ion-input  type="text" formControlName="noteFormString" required></ion-input>
       </div>
      
     <ion-button ion-color="primary" (click)="onClickSend()" >enviar</ion-button>

      <ion-button (click)="onClickReturn()" >Volver</ion-button>
  </div>


  

</ion-content>
