<ion-header>
  <ion-toolbar>
    <ion-title>Esperando notificacion</ion-title>
    <ion-buttons slot="start">
      <ion-button  href="home">Logout</ion-button>        
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="msgbubble" *ngFor="let msg of messages">    
    <ion-card >
      <ion-icon name="bed" slot="start"></ion-icon>
        <ion-label>Habitacion: {{ msg.bedId }}</ion-label>
      <br>
      <ion-item>
        <ion-button (click)="onClick(1)"> Aceptar </ion-button>
        <ion-button > Ubicacion </ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
