<ion-header>
  <ion-toolbar>
    <ion-item>
  <!--    <ion-title>Enfermera:{{nurseName}}</ion-title>-->
    </ion-item>
   <ion-item>
     
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="/waiting-event/" [text]=""></ion-back-button>        
      </ion-buttons>
      <ion-title>Cama:{{bedId}}</ion-title>
    </ion-item>
  </ion-toolbar>
  
  
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
    <ion-label>Piso: {{floor}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label>Cuarto: {{room}}</ion-label>
  </ion-item>
  </ion-card>  

</ion-content>
