<ion-header>
  <ion-toolbar>
    <ion-title>{{userLocal.username}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logout()" >Cerrar Sesión</ion-button>        <!--href="home" -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-button (click)="onClickUsers()">Usuarios </ion-button>
  <ion-button (click)="onClickBeds()">Camas</ion-button>

</ion-item>
<!-- showing logged users**********************************************-->
<div *ngIf="showing=='Users'">
    <ion-item>
    <p>users</p>
    </ion-item>
    <div *ngFor="let msg2 of messagesUsers">  
      <div *ngIf="msg2.get_userId()!=0">
       <ion-card >         
           <ion-item>            
           <ion-label>Usuario: {{ msg2.get_userId()}}</ion-label>            
           <ion-label>Estado: {{ userstates[msg2.get_st()] }}</ion-label>
           <!--<ion-button>  <ion-icon slot="icon-only" name="arrow-forward"></ion-icon></ion-button>-->
           </ion-item>
         
       </ion-card>
      </div> 
   </div>
</div>
<!-- showing beds status**********************************************-->
<div *ngIf="showing=='Beds'">
    <ion-item>
      <p>beds</p>
    </ion-item>

    <div  *ngFor="let msg of messagesBeds2">  
       <div *ngIf="msg.get_bedId()!=0">
        <ion-card color="success">
          <ion-icon name="bed" slot="start"></ion-icon>
            <ion-item>
            <ion-label>Habitacion: {{ msg.get_bedId() }}</ion-label>            
            <ion-label>Estado: {{ bedstates[msg.get_st()] }}</ion-label>            
            </ion-item>
          
        </ion-card>
      </div> 
    </div>
</div>
<!-- showing Events status**********************************************-->
<div *ngIf="showing=='Events'">
    <ion-item>
      <p>events</p>
    </ion-item>
</div>
<!-- showing Calendar **********************************************-->
<div *ngIf="showing=='Calendar'">
    <ion-item>
      <p>Calendario</p>
    </ion-item>
</div>
</ion-content>
