<!DOCTYPE html>
<ion-header collapse="false">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button  defaulthref="home" text="Volver"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" collapse="false" >
  <p><strong>Acceso al sistema</strong></p>
  <form [formGroup]="ionicForm" (ngSubmit)="onClickLogin()" novalidate>
  <ion-item  lines="full">
    <ion-label position="fixed" >Usuario</ion-label>
    <ion-input color="secondary" placeholder="userName" value="userName" formControlName="userName" type="text" required></ion-input>        
  </ion-item>
  <ion-item  lines="full">
    <ion-label position="fixed">Contraseña</ion-label>
    <ion-input  color="secondary" formControlName="password" type="password" required></ion-input>
  </ion-item>
  <br>
  <br>
  <br>

    <ion-item >
    <ion-button color="secondary" class="buttonAccess" type="submit"  expand="block">Acceder</ion-button>
    </ion-item>
  </form>

    <div *ngIf="showIn == true">
      <ion-button color="secondary" class="buttonMain"  expand="block" (click)="Log_in()"
      (keydown)="Log_in()">
        Main Page
      </ion-button>
    </div>
  </div>

  </ion-content>
