
#container {
    text-align: center;
    //background-color: transparent;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 20%;
    transform: translateY(-50%);
    width: 90%;
    font-size: 20px;    
    line-height: 26px;
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }


#container p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
