<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso</ion-title>
      <!-- Back button with a default href -->
  
      <ion-buttons slot="start">
        <ion-back-button  defaultHref="home" [text]=""></ion-back-button>        
      </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div id="container" collapse="condense" >
  <p><strong>Acceso al sistema</strong></p>
  <Form [formGroup]="ionicForm" (ngSubmit)="onClickLogin()" novalidate>  
  <ion-item     [style.--background]="blue"  lines="full">
    <ion-label position="fixed" >Usuario</ion-label>
    <ion-input color="primary" placeholder="{{userName}}" value="{{userName}}" formControlName="userName" type="text" required></ion-input>        
  </ion-item>         
  <ion-item [style.--background]="blue" lines="full">
    <ion-label position="fixed">Contraseña</ion-label>
    <ion-input  color="primary" formControlName="password" type="password" required></ion-input>        
  </ion-item>  
  <br>
  <br>
  <br>

    <ion-item >
      
    <ion-button style = "position:absolute; left:12.5%;width:70%" type="submit"  expand="block">Acceder</ion-button>
    
  
    </ion-item>
    </Form>
    <div *ngIf="showIn == true">
    <ion-button style = "position:absolute; left:30%;width:40%"   expand="block" (click)="Log_in()">Go Main Page</ion-button>
    
    </div>
  </div>

  </ion-content>
