.card {
    background-color: rgb(78, 218, 211); // black
    color: red; // black
  }

.buttonsStyles{
  width: 33%;
}

.cardStyleOrange{
  background-color: orange;
}
.cardStyleViolet {
  background-color: violet;
}