<ion-header>
  <ion-toolbar>
        <ion-title>{{doctorName}}</ion-title>
      <!-- Back button with a default href -->
    <ion-buttons slot="start">
      <ion-button (click)="logout()" >Cerrar Sesión</ion-button>        <!--href="home" -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button style="width: 50%;" (click)="enablingNotes()" >Notas</ion-button>
    <ion-button style="width: 50%;" (click)="enablingPatientMonitoring()">Pacientes</ion-button>
  </ion-item>
    <div *ngIf="viewMode==1">
      <ion-card >
        <ion-icon name="bed" slot="start"></ion-icon>
          <ion-label>Seleccionar numero paciente  </ion-label>
        <br>
        <ion-select interface="action-sheet" #C (ionChange)="upgradingPatientNumber(C.value)" type="number" required>
          <div *ngFor="let element of pacientTable; let i=index">           
          
          <ion-select-option  value="{{pacientTable[i].pacientId}}">{{pacientTable[i].pacientId}}</ion-select-option>                   
          </div>
        </ion-select>

        <ion-item>
          <div *ngIf="patientActivated==true">
            <ion-button (click)="onClickPacientNote(patientNumber)"> Ir </ion-button>        
          </div>
        </ion-item>
      </ion-card>
    </div>
    <div *ngIf="viewMode==2">
      <p>viendo llamados de mis pacientes</p>
    </div>

  <ion-card >    
    <div *ngFor="let element of messages; let i=index">

        <ion-card ion-color="terciary" >      
          <ion-item>
          <ion-label>Mensaje de : {{element._username}}</ion-label>
          </ion-item><ion-item>
          <ion-label> cama:{{element._bedId}}</ion-label>
          </ion-item>          
          <div *ngIf="element._type === 7">
              <ion-item>
              <ion-label>{{element._content}}</ion-label>                        
              </ion-item>
          </div>      
           <div *ngIf="element._type != 7">
            <ion-item>
            <ion-label>Audio</ion-label>      
              <ion-button (click)="playString(element._content)">
                <ion-icon name="play" slot="icon-only"></ion-icon>
              </ion-button>                  
            </ion-item>
           </div>      
     
          <ion-item>
          <ion-label position="stacked">Respuesta:</ion-label>
              <ion-textarea #A (ionChange)="onChangeText(A.value,i)"  ></ion-textarea>
              <ion-item>              
              <ion-button (click)="sendResponseText(i)" ><ion-icon name="arrow-forward" end></ion-icon></ion-button> <!--(click)= "sendMsg(i)" -->
              </ion-item>
          </ion-item>   
          <ion-item><ion-label>Responder Audio</ion-label></ion-item>
          <ion-item>
            <ion-button (click)="startRecording(element._bedId)"><ion-icon name="mic" ></ion-icon></ion-button>          
            <div *ngIf="recording==true">
            <ion-button (click)="stopRecording(i)" >
              <ion-icon name="stop" slot="icon-only"></ion-icon>
            </ion-button>                  

          </div>
          </ion-item>   
           
        </ion-card>
      
    </div>
  </ion-card >    
  
  
</ion-content>
