<ion-header>
  <ion-toolbar>
    <ion-title>{{doctorName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button    defaultHref="/doctor-main/" [text]=""></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="msgbubble" *ngFor="let msg of messages">  
      <div *ngIf="msg.type !== 0">  
        <ion-card >
          <ion-icon name="bed" slot="start"></ion-icon>
            <ion-label>Habitacion: {{ msg.bedId }}</ion-label>
            
          <br>
          <ion-item>
            <ion-button (click)="goChat({{ msg.bedId }})"> go Chat </ion-button>            
          </ion-item>
          <ion-item>
            <ion-button > Ver Paciente </ion-button>            
          </ion-item>
        </ion-card>
      </div>  
    </div>
</ion-content>
