
  <!DOCTYPE html>
  <ion-content class="backgroundDefault" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div  class="backgroundDefault">
      </div>
    </ion-toolbar>
  </ion-header>


  <div id="container" collapse="condense">
    <img src="../../assets/splash.png" class="imageClass" alt="nurse" >
    <p><strong>Sistema Enfermera</strong></p>
    <br>
    <ion-button color="secondary" href="mqtt-config">Configurar Sistema</ion-button>
    <br>
    <ion-button color="secondary" href="login">Entrar</ion-button>

  </div>
</ion-content>
