
  <ion-content [fullscreen]="true">  
  <ion-header collapse="condense"> 
    <ion-toolbar>
      <div style="text-align:center">
      
      </div>
    </ion-toolbar>
  </ion-header>


  <div id="container" collapse="condense">
    <img src="../../assets/img/Surix.png" style="margin-bottom: 0%;height:100px;" >
    <p><strong>Sistema Enfermera</strong></p>
    <br>    
    <ion-button href="mqtt-config">Configurar Sistema</ion-button>
    <br>    
    <ion-button href="login">Entrar</ion-button>
    
  </div>
</ion-content>
