
  <ion-content style="background-color: aquamarine;text-align:center" [fullscreen]="true">  
  <ion-header collapse="condense"> 
    <ion-toolbar>
      <div  style="background-color: aquamarine;text-align:center">
      
      </div>
    </ion-toolbar>
  </ion-header>


  <div id="container" collapse="condense">
    <img src="../../assets/splash.png" style="margin-bottom: 0%;height:100px;" >
    <p><strong>Sistema Enfermera</strong></p>
    <br>    
    <ion-button color="secondary" href="mqtt-config">Configurar Sistema</ion-button>
    <br>    
    <ion-button color="secondary" href="login">Entrar</ion-button>
    
  </div>
</ion-content>
