<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lector
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-item>
<ion-label>Dato:{{data}}</ion-label>
</ion-item> 
<ion-item>
<ion-button (click)="startScan()">Captura</ion-button>>
</ion-item> 

<div class="sample-background">
  <!-- this background simulates the camera view -->
</div>
<div class="container">
  <div class="barcode-scanner--area--container">
    <div class="relative">
      <p>Focalizar barcode</p>
    </div>
    <div class="square surround-cover">
      <div class="barcode-scanner--area--outer surround-cover">
        <div class="barcode-scanner--area--inner"></div>
      </div>
    </div>
  </div>
</div>

</ion-content>
