<!--
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-content [fullscreen]="true">  
  <ion-header collapse="condense"> 
    <ion-toolbar>
      <div style="text-align:center">
      <img src="../../assets/img/Surix.png" style="margin-bottom: 0%;height:100px;" >
      </div>
    </ion-toolbar>
  </ion-header>


  <div id="container" collapse="condense">
    <p><strong>Sistema Enfermera</strong></p>
    <br>    
    <ion-button href="mqtt-config">Configurar Sistema</ion-button>
    <br>    
    <ion-button href="login">Entrar</ion-button>
    
  </div>
</ion-content>
