<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Lector
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<div class="sample-background">
  <!-- this background simulates the camera view -->
</div>
<div class="container">
  <div class="barcode-scanner--area--container">
    <div class="relative">
      <p>Focalizar barcode</p>
    </div>
    <div class="square surround-cover">
      <div class="barcode-scanner--area--outer surround-cover">
        <div class="barcode-scanner--area--inner"></div>
      </div>
    </div>
  </div>
</div>
<ion-item>
  <ion-label>Captura:{{data}}</ion-label>
  </ion-item> 
  <ion-item>
  <ion-button color="secondary" style="width:25%;" (click)="startScan()">Empezar Captura</ion-button>
  <ion-button color="secondary" style="width:25%;"(click)="cancelScan()">Cancelar Captura</ion-button>
  <ion-button color="secondary" style="width:25%;"(click)="sendQr()">Enviar</ion-button>
  <ion-button color="secondary"  style="width:25%;"(click)="goBack()">Volver</ion-button>
  </ion-item> 
  
</ion-content>
